.fish-portraits {
  background-image: url("/src/img/Bg-pattern.webp");
}

.fish-name-title {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0;
}

.fish-name-location {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
}

.fish-bg {
  background-color: #99cc33;
}
